@model List<Item>
@{
    ViewData["Title"] = "Find";
    int count = 1;
}

<h1>Find</h1>

<form method="post" action="~/Home/Find">
    <label>Имя:</label><br />
    <input type="text" name="name" /><br />
    <input type="submit" value="Search" />
</form>

@if (ViewBag.Name.Count != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Name)
            {
                <tr>
                    <th scope="row">
                        @(
                            count++
                            )
                    </th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.TypeId</td>
                </tr>
            }

        </tbody>
    </table>
}