@model List<Item>
@{
    ViewData["Title"] = "Find";
    int count = 1;
}

<h1>Find</h1>

@*<form asp-action="Find" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="p-2">
        <div class="d-grid gap-2">
            <button type="submit" id="ok" class="btn btn-primary">Add</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary" type="button">Cancel</a>
        </div>
    </div>
</form>*@

<form method="post" action="~/Home/Find">
    <label>Имя:</label><br />
    <input type="text" name="name" /><br />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Any())
        {
            @foreach (var item in @Model)
            {
                <tr>
                    <th scope="row">@(
                count++
                )</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.TypeId</td>                    
                </tr>
            }
        }
    </tbody>
</table>